#diagrams {
    float: left;
    
    margin-top: 4em;
    padding-left: 18.5vw;
    padding-right: 18.5vw;
    
    width: 63vw;
    height: 7vw;
}

.round {
    float: left;
    
    height: 7vw;
    width: 7vw;
    
    font-size: 4vw;
    line-height: 7vw;
    text-align: center;
    
    border-radius: 100em;
    
    background-color: #DDDDDD;
    color: #EEEEEE;
}

.arrow {
    float: left;
    
    height: 7vw;
    width: 7vw;
    
    font-size: 4vw;
    line-height: 7vw;
    text-align: center;
    
    color: #DDDDDD;
}

#info {
    float: left;
    margin-top: 5em;
    padding-left: 16vw;
    padding-right: 16vw;
    
    opacity: 1;
}

.block {
    float: left;
    
    height: 12vw;
    width: 15vw;
    
    margin: 1vw;
    
    box-shadow: 0 0 5px #CCCCCC;
    
    background-color: white;
}
.cell {
    width: 15vw;
    height: 3vw;
    
    text-align: center;
    line-height: 3vw;
}
#cell_title {
    font-size: 1.5vw;
    
    background-color: #1b1e29;
    color: white;
}
#cell_value {
    font-size: 1.25vw;
}
#cell_position {
    font-size: 1.25vw;
}
#cell_time {
    font-size: 1.25vw;
    
    background-color: #4897CC;
    color: white;
}

.button {
    float: left;
    
    margin-top: 2em;
    margin-left: 24vw;
    margin-right: 24vw;
    
    width: 20vw;
    
    height: 5vw;
    
    text-align: center;
    line-height: 5vw;
    font-size: 2vw;
    
    border-radius: 1vw;
    
    background-color: #5FC864;
    color: white;
}