#content {
    float: right;
    margin-top: 3em;
    margin-left: 1vw;
    margin-right: 1vw;
}

.block {
    float: right;
    margin: 0.5vw;
}
#diagram {
    width: 60vw;
    height: 60vw;
    
    background-color: white;
    background-image: url("../img/radar.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#photo {
    width: 17.5vw;
    height: 17.5vw;
    
    background-color: white;
}

#desc {
    width: 36vw;
    height: 41.5vw;
    
    background-color: white;
}